<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nhts.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
				<key>dateExpires</key>
				<string>18/04/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BSGridCollectionViewLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BSImagePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>2.10.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>BSImageView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MTBBarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>audio_session.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>blue_thermal_printer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_downloader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_sound_core.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>multi_image_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>4.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>qr_code_scanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>02065616AD5A83491B89F7045AE8F32DACEFE91B</string>
						<key>dateExpires</key>
						<string>18/04/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y566Q76H53</string>
						<key>name</key>
						<string>Kavitha  Martin</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y566Q76H53.com.sts.datagreen.nhts</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Y566Q76H53</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d5393731-fa8c-494f-b07b-468712402ba8</string>
				<key>dateExpires</key>
				<string>18/04/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.sts.datagreen.nhts</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y566Q76H53</string>
				<key>name</key>
				<string>Kavitha  Martin</string>
			</dict>
			<key>versionNumber</key>
			<string>4.0.0</string>
		</dict>
	</array>
</dict>
</plist>
